.container{
    
    color: #8E8E8E;
    border: 2px solid  #D5D8DA;
    border-radius: 5px;
    width: 100%;
    padding: 13px 2px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    
}
.container input{
    border: none;
    background-color: white;
    width: 90%;
    height: 100%;
    outline: none;
}